{% extends '::base.html.twig' %}

{% block header %}{% endblock %}

{% block header_content %}
    Buscar producto
    Administracion
    Cesta
{% endblock %}

{% block gamas %}
    <ul>
        <li><a href="{{path('listar',{'gama':'todas'})}}">Todas</a></li>
        {% for g in gamas %}
            <li><a href="{{path('listar',{'gama':loop.index0})}}">{{g.Gama}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block menu_options %}{% endblock %}

{% block main %}
    <main>
        <center>
            {% if flush %}
                <h2>Error de insercción</h2>
            {% else %}
                <h2>Producto insertado con éxito</h2>
            {% endif %}
        </center>
        Iterar aqui los productos
        <i class="fas fa-camera-retro"></i>
    </main>

    {% for p in pag.elements %}
        <p>{{ p.nombre }}</p>
    {% endfor %}

    {% if pag.maxPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            <li {{ pag.thisPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('page', {page: pag.thisPage-1 < 1 ? 1 : pag.thisPage-1}) }}">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..pag.maxPages %}
                <li {{ pag.thisPage == i ? 'class="active"' }}>
                    <a href="{{ path('page', {page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {# `»` arrow #}
            <li {{ pag.thisPage == pag.maxPages ? 'class="disabled"' }}>
                <a href="{{ path('page', {page: pag.thisPage+1 <= pag.maxPages ? pag.thisPage+1 : pag.thisPage}) }}">»</a>
            </li>
        </ul>
    {% endif %}
    <br>
    Insertar
    {{ form(formulario) }}
{% endblock %}

{% block footer %}
    <footer>footer</footer>
{% endblock %}