{% block header %}{% endblock %}

{% block header_content %}
    Buscar producto
    Administracion
    Cesta
{% endblock %}

{% block gamas %}
    <ul>
        <li><a href="{{path('listar',{'gama':'todas'})}}">Todas</a></li>
        {% for g in gamas %}
            <li><a href="{{path('listar',{'gama':loop.index0})}}">{{g.Gama}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block menu_options %}{% endblock %}

{% block main %}
    <main>
        Iterar aqui los productos
        <i class="fas fa-camera-retro"></i>
    </main>

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'CodigoProducto', 'p.codigoproducto') }}</th>
            <th{% if pagination.isSorted('p.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Titulo', 'p.nombre') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Precio', 'p.precioventa') }}</th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.codigoproducto }}</td>
                <td>{{ article.nombre }}</td>
                <td>{{ article.precioventa }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block footer %}
    <footer>footer</footer>
{% endblock %}